

header {
    text-align: center;
    color: white;
    height: 50px;
    background-color: black;
    min-width: 100%;
}

.headerText {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: darkgray;
}

#gifs-view {
    margin-right: 50px;
    margin-left: 50px;
    max-height: 500px;
}

#gifButtons {
    margin-left: 25px;
    margin-right: 50px;
}

.gif-display {
    
}

#stillState {
    padding: 5px;
    max-width: 95%;
}

#holder {
    max-width: 95%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    
}

.ratings-text {
    font-size: 14pt;
    text-transform: uppercase;
    text-align: center;
}

.btn-primary {
    margin: 5px;
}

#actor-form {
    float: right;
    /* margin-right: 500px; */
    margin-right: 5%;
    

}
.wrapper {
    /* margin-right: 50px; */
    /* margin-right: 500px; */
}



/* footer {
    text-align: center;
    color: white;
    height: 50px;
    background-color: black;
    min-width: 100%;
    position: absolute;
    bottom: 0;
} */

/* iPad Pro */
@media screen and (max-width: 1025px) {
    #actor-form {
        float: right;
        /* margin-right: 500px; */
        margin-right: 10%;
        
    
    }

}

/* iPad  */
@media screen and (max-width: 770px) {

}

/* iPhone Plus  */
@media screen and (max-width: 420px) {
    #actor-form {
        text-align: center;
    }



}

/* iPhone X & iPhone 6,7,8  */
@media screen and (max-width: 380px) {
    #actor-form {
        text-align: center;
    }

}

/* iphone 5/SE  */
@media screen and (max-width: 325px) {
    #actor-form {
        text-align: center;
    }


}