

header {
    text-align: center;
    color: white;
    height: 50px;
    background-color: black;
    min-width: 100%;
}
body {
    background-color: darkgray;
}

.wrapper {
    margin-right: 50px;
}
#gifs-view {
    margin-right: 50px;
    margin-left: 50px;
}

#gifButtons {
    margin-left: 25px;
    margin-right: 50px;
}

.gif-display {
    /* float: right; */
}

#stillState {
    padding: 5px;
    max-width: 95%;
    /* background-color: red; */
}

#holder {
    float: left;
    margin: 5px;
    padding-top: 5px;
    /* clear: both; */
    
}

.ratings-text {
    font-size: 14pt;
    text-transform: uppercase;
    text-align: center;
}

.btn-primary {
    margin: 5px;
}

#actor-form {
    float: right;
}



footer {
    height: 25px;
    background-color: aqua;
}